<div class="page-header">
  <%= link_to :back, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back
  <% end %>
  <h1>New supplement</h1>
</div>

<%= render 'form' %>
