<div class="page-header">
  {{#link-to-animated 'diets.new' animations="main:flip" class="pull-right"}}<button class="btn btn-default">New diet</button>{{/link-to-animated}}
  <h1>Diets</h1>
</div>

<div class="row">
  {{#each model}}
    {{#link-to-animated 'diet' id animations="main:flip"}}
      <div class="col-sm-6 col-md-4" style="margin-top: 30px">
        <div class="thumbnail-noconflict">
          <h3> {{title}} <span class="label label-default">{{supplementCount}} supplements</span></h3>
          <p>
              {{#link-to-animated 'diet' id animations="main:flip"}}<button class="btn btn-default">Edit diet</button>{{/link-to-animated}}
          </p>
        </div>
      </div>
    {{/link-to-animated}}
  {{/each}}
</div>



