<div class="page-header">
    {{#linkTo 'timelines.new' class="pull-right"}}
      <button class="btn btn-default">New timeline</button>
    {{/linkTo}}
    <h1>Timelines</h1>
</div>
<div class="row">
  {{#each model}}
    {{#link-to 'timeline' id}}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail-noconflict">
          <img {{bindAttr src="image"}} alt="{{caption}}" height="300" width="300"/>

          <h3> {{headline}} <span class="label label-default">{{postsCount}} posts</span></h3>

          <p>
              {{#linkTo 'timeline' id}}
                <button class="btn btn-default">Edit timeline
                </button>{{/linkTo}}
            {{#linkTo 'posts.new' id}}
            <button class="btn btn-default">New post</button>{{/linkTo}}
          </p>
        </div>
      </div>
    {{/link-to}}
  {{/each}}
</div>



