<div class="pull-left col-lg-4 ">
{{view App.TimelinesSelectView viewName="select"
    contentBinding="timelines"
    optionLabelPath="content.headline"
    optionValuePath="content.id"
    class="form-control"
    selectionBinding="App.timelineController.timelineSelection"
    }}
</div>

<div class="col-lg-8 pull-right">

  {{view App.MenuItem href="#/postsNew" label="New Post" class="btn btn-default" }}

</div>

<div class="container">
  {{ view App.TimelinesWidgetView id="timeline" }}
</div>