<div class="page-header">
  <button {{action goBack}} class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
    {{#link-to-animated 'posts.new' controller.content.id animations="main:flip" class="pull-right"}}<button class="btn btn-default">New post</button>{{/link-to-animated}}
  <h1>{{headline}}</h1>
</div>


  {{ view App.TimelinesWidgetView id="timeline" contentBinding="controller.content" }}