<h3 class="pull-left">Your Timeline</h3>
<div class="pull-right">
  <%= link_to 'New Timeline', new_timeline_path, class: 'btn btn-primary  navbar-btn' %>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-primary  navbar-btn' %>

</div>

<div id="timeline"></div>
