<div class="pull-left col-lg-4 ">
{{view App.TimelineSelectView viewName="select"
    contentBinding="timelines"
    optionLabelPath="content.headline"
    optionValuePath="content.id"
    class="form-control"
    selectionBinding="App.timelineController.timelineSelection"
    }}
</div>

<div class="container">
  {{ render timelinesShow id="timeline" }}
</div>