<div class="page-header">
  <button {{action goBack}} class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
  <h1>{{name}}</h1>
</div>


{{view App.WorkoutsAutocompleteView}}
