<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.name}} <b class="caret"></b></a>
<ul class="dropdown-menu">
  <li>{{view App.MenuItem href="#/timelines/show" label="My account" }}</li>
  <li>{{view App.MenuItem href="#/timelines/new" label="Social connect" }}</li>
</ul>