<a href="#" class="dropdown-toggle" data-toggle="dropdown">Diets <b class="caret"></b></a>
<ul class="dropdown-menu">
  <li>{{#link-to-animated 'diets.index' animations="main:flip"}}My diets{{/link-to-animated}}</li>
  <li>{{#link-to-animated 'diets.new' animations="main:flip"}}New diet{{/link-to-animated}}</li>
</ul>