  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Timelines <b class="caret"></b></a>
  <ul class="dropdown-menu">

    <li role="presentation" class="dropdown-header">Actions</li>

    <li role="presentation" class="divider"></li>
    <li>{{#link-to 'timelines.index'}}All timelines{{/link-to}}</li>
    <li>{{#link-to 'timelines.new'}}New timeline{{/link-to}}</li>
  </ul>