  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Timelines <b class="caret"></b></a>
  <ul class="dropdown-menu">

    <li>{{#link-to 'timelines.index'}}My timelines{{/link-to}}</li>
    <li>{{#link-to 'timelines.new'}}New timeline{{/link-to}}</li>
  </ul>