  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Timelines <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li>{{view App.MenuItem href="#/timelines/show" label="My timelines" }}</li>
    <li>{{view App.MenuItem href="#/timelines/new" label="New timeline" }}</li>
  </ul>