  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Timelines <b class="caret"></b></a>
  <ul class="dropdown-menu">

    <li>{{#link-to-animated 'timelines.index' animations="main:flip"}}My timelines{{/link-to-animated}}</li>
    <li>{{#link-to-animated 'timelines.new' animations="main:flip"}}New timeline{{/link-to-animated}}</li>
  </ul>