<a href="#" class="dropdown-toggle" data-toggle="dropdown">Workouts <b class="caret"></b></a>
<ul class="dropdown-menu">

  <li>{{#link-to-animated 'workouts.index' animations="main:flip"}}My workouts{{/link-to-animated}}</li>
  <li>{{#link-to-animated 'workouts.new' animations="main:flip"}}New workout{{/link-to-animated}}</li>
</ul>